.loginForm {
    margin-top: 50px;
}

.loginForm > div {
    display: block;
    margin: 0 auto;
}

.registerForm {
    margin-top: 50px;
}

.registerForm > div {
    display: block;
    margin: 0 auto;
}

#profileView {
    display: block;
    margin: 0 auto;
    border: 1.5px solid blue;
}
.demo-list-icon {
  width: 300px;
}
